.group3 {
  width: 327px;
  height: 60px;
  border-radius: 15px;
  background: #1e2a47;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}

.group3 input {
  color: #fff;
  font-family: "Space Mono";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 192.308% */
  background-color: transparent;
  width: 184PX;
  border: none;
}

.group3 button {
  width: 84px;
  height: 46px;
  color: #fff;
  font-family: "Space Mono";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 10px;
  background: #0079ff;
  border: none;
}

.group3 img {
  width: 20.048px;
  height: 20px;
}
