.group3 {
  width: 327px;
  height: 60px;
  border-radius: 15px;
  background: #1e2a47;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.group3Light {
  width: 327px;
  height: 60px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #fefefe;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
}

input {
  color: #fff;
  font-family: "Space Mono";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 192.308% */
  background-color: transparent;
  width: 184px;
  border: none;
}

button {
  width: 84px;
  height: 46px;
  color: #fff;
  font-family: "Space Mono";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 10px;
  background: #0079ff;
  border: none;
}

.group3 img, .group3Light img{
  width: 20.048px;
  height: 20px;
}


