.group1 {
  display: flex;
  gap: 110px;
  align-items: center;
  margin-top: 31px;
}

.group1 h3 {
  color: #fff;
  font-family: "Space Mono";
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.group1 .containn span {
  color: #fff;
  text-align: right;
  font-family: "Space Mono";
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.5px;
}

.containn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  gap: 15px;
}

.containn:hover{
  cursor: pointer;
}